<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.example.demo.model.User">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="gmt_create" property="gmt_create" jdbcType="TIMESTAMP" />
		<result column="gmt_modified" property="gmt_modified" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, gmt_create, gmt_modified
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from T_USER
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from T_USER
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.example.demo.model.User" useGeneratedKeys="true" keyProperty="id">
		insert into T_USER (name,
		gmt_create,
		gmt_modified)
		values (
		#{name,jdbcType=VARCHAR},
		#{gmt_create,jdbcType=TIMESTAMP},
		#{gmt_modified,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.example.demo.model.User">
		insert into T_USER
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="gmt_create != null">
				gmt_create,
			</if>
			<if test="gmt_modified != null">
				gmt_modified,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="gmt_create != null">
				#{gmt_create,jdbcType=TIMESTAMP},
			</if>
			<if test="gmt_modified != null">
				#{gmt_modified,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.User">
		update T_USER
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="gmt_create != null">
				gmt_create = #{gmt_create,jdbcType=TIMESTAMP},
			</if>
			<if test="gmt_modified != null">
				gmt_modified = #{gmt_modified,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.example.demo.model.User">
		update T_USER
		set
		name = #{name,jdbcType=VARCHAR},
		gmt_create =
		#{gmt_create,jdbcType=TIMESTAMP},
		gmt_modified =
		#{gmt_modified,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="select" resultMap="BaseResultMap" parameterType="com.example.demo.model.User">
		select
		<include refid="Base_Column_List" />
		from T_USER
		<where>
			<if test="name != null">
				INSTR(name,#{name,jdbcType=VARCHAR})
			</if>
			<if test="gmt_create != null">
				gmt_create between  DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 1 DAY) ,'%Y-%m-%d 00:00:00') and DATE_FORMAT(DATE_SUB(NOW(),INTERVAL 0 DAY) ,'%Y-%m-%d 00:00:00')
			</if>
		</where>
	</select>
	<select id="selectByDateRange" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from T_USER
		<where>
			<if test="start != null and end != null">
				gmt_create between  #{start,jdbcType=TIMESTAMP} and #{end,jdbcType=TIMESTAMP}
			</if>
		</where>
	</select>
	<select id="selectByDate" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from T_USER
		<where>
			<if test="date != null">
				gmt_create = #{date,jdbcType=TIMESTAMP}
			</if>
		</where>
	</select>
</mapper>